
ACCESS_TOKEN="EAAFZC1UZCVAa4BO342JmUZAY5AbCAVwZAXFMfCBuMANA4q1hA5S6oNL2iZAxRT9MA83v8YQXdvj9EuuspZADkIkN2PxJYQ7upBDJDZB6XncWpO8vLZCdpolEZBOunUo6EMuMx1cYjpZBGYY6rzkc7tIP1XKq7192ZBitFupW6ImRZC8iDIjbiqMfcx6RwPiUZBog28fuW9bDePn9YTBvoZA9E44a8ZD"

APP_ID="422029120831918"
APP_SECRET="654d5875c17ed8d979ba74334e61bb8d"
RECIPIENT_WAID="351910134981" 
VERSION="v18.0"
PHONE_NUMBER_ID="117947841271318"

VERIFY_TOKEN="1234"

OPENAI_API_KEY=""
OPENAI_ASSISTANT_ID=""